<footer>
    <hr>
    <p>© 2025 Mi App</p>

    <!-- Para el script JS y el estilo CSS -->
    <link rel="stylesheet" href="/css/Lab08.css">
    <script src="/js/Lab08.js" defer></script>
    
</footer>
  