<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/estilo.css">

    <!-- Para el script JS y el estilo CSS -->
    <link rel="stylesheet" href="/css/Lab08.css">
    <script src="/js/Lab08.js" defer></script>
    
  </head>
  