<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Laboratorio 13</h1>

  <b>¿Cuál es el propósito de esta aplicación?</b>
  <p>Esta aplicación permite agregar y listar elementos usando MVC.</p>

  <b>¿Cómo agrego un nuevo ítem?</b>
  <p>Ve a la página de <a href="/add">Agregar</a> y escribe el valor que deseas añadir.</p>

  <b>¿Dónde puedo ver los ítems agregados?</b>
  <p>En la <a href="/list">lista principal</a>.</p>

  <hr>

  <b>Respuestas a las Preguntas del Laboratorio 13</b>
  <p>Para ver las respuestas a las preguntas del laboratorio 13, visita la página <a href="/preguntas">Preguntas</a>.</p>
  <p></p>

  <h1>Laboratorio 14</h1>
  <!-- Mostrar mensaje flash login/logout -->
  <% if (mensajeFlash && mensajeFlash.length > 0) { %>
    <div class="alerta">
      <%= mensajeFlash[0] %>
    </div>
  <% } %>

  <!-- Para mostrar un botón según si hay sesión activa -->
  <% if (username) { %>
    <a href="/logout"><button>Cerrar sesión</button></a>
  <% } else { %>
    <a href="/login"><button>Iniciar sesión</button></a>
  <% } %>
  <p>Como las preguntas de este laboratorio son las mismas que las del Lab13, puedes ver las respuestas en la sección de arriba, que pretenece al Lab13</p>
</body>
</html>
