<!DOCTYPE html>
<html lang="es">
<%- include('includes/head') %>
<body>
    <h1>Acerca de</h1>
    <p>Esta es una app del laboratorio.</p>
    <a href="/">Volver a inicio</a>

    <!-- Para el script JS y el estilo CSS -->
    <link rel="stylesheet" href="/css/Lab08.css">
    <script src="/js/Lab08.js" defer></script>

    <!-- Footer -->
    <script src="/Lab08.js"></script>
</body>
</html>
